<div class="sidebar">
  <ul>
    <li>
      <a routerLink="/list-syllabus"><i class="fa fa-leanpub"></i><span>Syllabus</span></a>
    </li>
    <li><a routerLink="/list-objective"><i class="fa fa-server"></i><span>Objective</span></a></li>
    <li><a routerLink="/list-skill"><i class="fa fa-line-chart"></i><span>Skill</span></a></li>
    <li><a routerLink="/list-activity"><i class="fas fa-graduation-cap"></i><span>Learning Activity</span></a></li>
    <li><a (click)="logout()"><i class="fa fa-sign-out"></i><span>Log Out</span></a></li>
  </ul>
</div>

<script>
  $('#menu-action').click(function() {
    $('.sidebar').toggleClass('active');
    $('.main').toggleClass('active');
    $(this).toggleClass('active');
    if ($('.sidebar').hasClass('active')) {
      $(this).find('i').addClass('fa-close');
      $(this).find('i').removeClass('fa-bars');
    } else {
      $(this).find('i').addClass('fa-bars');
      $(this).find('i').removeClass('fa-close');
    }
  });
</script>
