<div class="bg_base_lr" style="padding-top: 30px">
  <div class="container">
    <div class="row">
      <div class="col-sm-3" style="max-width:350px;"></div>
      <div class="col-sm-6" style="">
        <form name="form" [formGroup]="activityForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <h3>New Learning Activity</h3>
            <label>Name</label><br/>
            <input type="text" class="form-control" formControlName="name" placeholder="Nhập tên activity mới"/>
            <div class="alert alert-danger" role="alert"
                 *ngIf="activityForm.get('name').invalid && activityForm.get('name').touched">
              Name không thể để trống
            </div>
            <br/>
            <div class="form-group">
              <label>Description</label><br/>
              <input type="text" class="form-control" formControlName="name" placeholder="Nhập description"/>
              <div class="alert alert-danger" role="alert"
                   *ngIf="activityForm.get('name').invalid && activityForm.get('name').touched">
                Description không thể để trống
              </div>
            </div>
            <div class="form-group ">
              <h3>Activity:</h3>
              <div>
                <select>
                <option>Bai Tap</option>
                <option>Bai Thuc Hanh</option>
                <option>Bai Qiz</option>
                <option>Bai Doc</option>
                <option>Link Tham Khao</option>
                </select>
              </div>
            </div>
          </div>
          <div class="alert alert-success" role="alert" *ngIf="isSuccess === true">
            Thêm thành công
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="isSuccess === false">
             Điền thông tin chưa đúng hoặc đã tồn tại
          </div>

          <div class="form-group" style="text-align: center">
            <div>
            </div>
            <button class="btn btn-default" type="submit">Tạo mới</button>
          </div>
        </form>
      </div>
      <div class="col-sm-3" style="max-width:350px;"></div>
    </div>
  </div>
</div>

