<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Yinka Enoch Adedokun">
  <title>Login Page</title>
</head>
<body>
<!-- Main Content -->
<div class="container-fluid">
  <div class="row main-content bg-success text-center">
    <div class="col-md-4 text-center company__info">
      <span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
      <h4 class="company_title">BIG BANG</h4>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12 login_form " >
      <div class="container-fluid">
        <div class="row">
          <h2>Log In</h2>
        </div>
        <div class="row">
           <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="row form-group">
              <input type="text" name="username" id="username" class="form__input" placeholder="Username" [(ngModel)]="form.username" #username="ngModel"
                     required />
              <div *ngIf="f.submitted && username.invalid">
                <div *ngIf="username.errors.required">Username is required</div>
              </div>
            </div>
            <div class="row form-group">
              <input type="password" name="password" id="password" class="form__input" placeholder="Password" [(ngModel)]="form.password" #password="ngModel"
                     required minlength="6" />
              <div *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required">Password is required</div>
              </div>
            </div>
             <div class="form-group">
               <button class="btn btn-primary">Login</button>
               <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                 Login failed: {{errorMessage}}
               </div>
             </div>
          </form>
        </div>
        <div class="row">
          <p>Don't have an account? <a href="signup">Register Here</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->

</body>
