<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left" (click)="w3_open()" *ngIf="authority === 'pm' ">☰</div>
    <div class="w3-right w3-padding-16" *ngIf="!authority">
      <a class="nav-link btn btn-primary btn-lg" role="button" routerLink="auth/login" data-toggle="modal">Login</a>
    </div>
    <div class="w3-right w3-padding-16" *ngIf="authority">
      <a class="nav-link" routerLink="home">Information</a>
    </div>
    <div class="w3-center w3-padding-16"><a href="/home">My course</a></div>
  </div>
</div>
<br><br><br><br><br>
<div class="container">
  <router-outlet></router-outlet>
</div>
