<!--<div class="card w3-center" style="width: 18rem; height: 320px">-->
<!--  <div class="card-body">-->
<!--    <a href="/list-objective" class="card-title">{{syllabus.name}}-->
<!--    <br/>-->
<!--    <img style="width: 50%" class="card-title" src="{{syllabus.image}}"/>-->
<!--    </a>-->
<!--    <p class="card-text">{{syllabus.description}}</p>-->
<!--    <button (click)="editProduct()" class="btn btn-secondary" style="margin-right: 5px" *ngIf="authority === 'pm' ">Edit</button>-->
<!--    <button (click)="deleteProduct()" class="btn btn-secondary" *ngIf="authority === 'pm' ">Delete</button>-->
<!--  </div>-->
<!--</div>-->

<div class="container">
  <img [src]="syllabus.image" height="194" width="259" class="image"/>
  <div class="row">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <h3>{{syllabus.name}}</h3>
  </div>
  <div class="row">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <p>{{syllabus.description}}</p>
  </div>
  <div class="middle">
<!--    <div class="text">-->
      <a id="btn-effect" (click)="getObjectives(syllabus.id)"><span>View</span></a>
<!--    </div>-->
  </div>
  <div class="row" *ngIf="isAuthorized">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a (click)="editProduct()" class="btn btn-primary">Edit</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a (click)="deleteProduct()" class="btn btn-danger">Delete</a>
  </div>
</div>
