<div *ngIf="info.token; else loggedOut">
  <h5 class="text-primary">Your Information</h5>
  <p>
    <strong>Username:</strong> {{info.username}}<br/>
    <strong>Roles:</strong> {{info.authorities}}<br/>
    <!--    <strong>Token:</strong> {{info.token}}-->
  </p>
  <button class="btn btn-secondary" (click)="logout()">Logout</button>
</div>

<ng-template #loggedOut>
  <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" >
      <div class="w3-quarter container">
        <img [src]="urlimg1" height="194" width="259" class="image"/>
        <h3>BootCamp Preparation</h3>
        <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        <div class="middle">
          <div class="text"><a href="auth/login">Login to view</a></div>
        </div>
      </div>
      <div class="w3-quarter container">
        <img [src]="urlimg2" height="194" width="259" class="image"/>
        <h3>[BOOTCAMP] CSCD 1</h3>
        <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        <div class="middle">
          <div class="text"><a href="auth/login">Login to view</a></div>
        </div>
      </div>
      <div class="w3-quarter container">
        <img [src]="urlimg4" height="194" width="259" class="image"/>
        <h3>BootCamp Preparation 2.0</h3>
        <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        <div class="middle">
          <div class="text"><a href="auth/login">Login to view</a></div>
        </div>
      </div>
      <div class="w3-quarter container">
        <img [src]="urlimg3" height="194" width="259" class="image"/>
        <h3>[BOOTCAMP] CSCD 2</h3>
        <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        <div class="middle">
          <div class="text"><a href="auth/login">Login to view</a></div>
        </div>
      </div>
    </div>

    <!-- Second Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center">
      <div class="w3-quarter container">
        <img [src]="urlimg4" height="194" width="259" class="image"/>
        <h3>[BOOTCAMP] CSCD 3</h3>
        <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        <div class="middle">
          <div class="text"><a href="auth/login">Login to view</a></div>
        </div>
      </div>
      <div class="w3-quarter container">
        <img [src]="urlimg3" height="194" width="259" class="image"/>
        <h3>WEB Fundamentals</h3>
        <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        <div class="middle">
          <div class="text"><a href="auth/login">Login to view</a></div>
        </div>
      </div>
      <div class="w3-quarter container">
        <img [src]="urlimg2" height="194" width="259" class="image"/>
        <h3>Scrum Essence</h3>
        <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        <div class="middle">
          <div class="text"><a href="auth/login">Login to view</a></div>
        </div>
      </div>
      <div class="w3-quarter container">
        <img [src]="urlimg1" height="194" width="259" class="image"/>
        <h3>[BOOTCAMP-JAVA] JAVA SPRING</h3>
        <p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        <div class="middle">
          <div class="text"><a href="auth/login">Login to view</a></div>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="w3-center w3-padding-32">
      <div class="w3-bar">
        <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
        <a href="#" class="w3-bar-item w3-black w3-button">1</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
      </div>
    </div>

    <hr id="about">

    <!-- About Section -->
<!--    <div class="w3-container w3-padding-32 w3-center">-->
<!--      <h3>About Me, About My Team</h3><br>-->
<!--      <img [src]="urlteam" class="w3-image" style="display:block;margin:auto" width="800px" height="533px">-->
<!--      <div class="w3-padding-32">-->
<!--        <h4><b>I am Who I Am!</b></h4>-->
<!--        <h6><i>With Passion For Real, Good Dreaming</i></h6>-->
<!--        <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of lorem-->
<!--          ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum.-->
<!--          Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent-->
<!--          tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam-->
<!--          non fringilla.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <hr>-->

    <!-- Footer -->
    <footer class="w3-row-padding w3-padding-32">
      <div class="w3-third">
        <h3>FOOTER</h3>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue
          gravida diam non fringilla.</p>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">big.bang</a></p>
      </div>

      <div class="w3-third">
        <h3>BLOG POSTS</h3>
        <ul class="w3-ul w3-hoverable">
          <li class="w3-padding-16">
            <img class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Lorem</span><br>
            <span>Sed mattis nunc</span>
          </li>
          <li class="w3-padding-16">
            <img class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Ipsum</span><br>
            <span>Praes tinci sed</span>
          </li>
        </ul>
      </div>

      <div class="w3-third w3-serif">
        <h3>POPULAR TAGS</h3>
        <p>
          <span class="w3-tag w3-black w3-margin-bottom">Contact</span><BR>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Instagram</span><BR>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span><BR>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Twitter</span><BR>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Facebook</span><BR>
        </p>
      </div>
    </footer>
  </div>
</ng-template>
