<div *ngIf="info.token; else loggedOut">
  <h5 class="text-primary">Your Information</h5>
  <p>
    <strong>Username:</strong> {{info.username}}<br/>
    <strong>Roles:</strong> {{info.authorities}}<br/>
    <!--    <strong>Token:</strong> {{info.token}}-->
  </p>
  <button class="btn btn-secondary" (click)="logout()">Logout</button>
</div>

<ng-template #loggedOut>
  <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center">

      <div class="w3-quarter container">
        <div class="row">
          <div class="col-4">
            <img [src]="bcPreparationURL" height="194" width="300" class="image"/>
            <div class="middle">
              <div class="text"><a href="auth/login">Login to view</a></div>
            </div>
          </div>
          <div class="col-8">
            <h3>BootCamp Preparation</h3>
            <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
          </div>
        </div>
      </div>

      <div class="w3-quarter container">
        <div class="row">
          <div class="col-4">
            <img [src]="cscd1URL" height="194" width="300" class="image"/>
            <div class="middle">
              <div class="text"><a href="auth/login">Login to view</a></div>
            </div>
          </div>
          <div class="col-8">
            <h3>[BOOTCAMP] CSCD 1</h3>
            <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
          </div>
        </div>
      </div>

      <div class="w3-quarter container">
        <div class="row">
          <div class="col-4">
            <img [src]="kanbanURL" height="194" width="300" class="image"/>
            <div class="middle">
              <div class="text"><a href="auth/login">Login to view</a></div>
            </div>
          </div>
          <div class="col-8">
            <h3>[Bootcamp] Kanban</h3>
            <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
          </div>
        </div>
      </div>

      <div class="w3-quarter container">
        <div class="row">
          <div class="col-4">
            <img [src]="aiURL" height="194" width="300" class="image"/>
            <div class="middle">
              <div class="text"><a href="auth/login">Login to view</a></div>
            </div>
          </div>
          <div class="col-8">
            <h3>Artificial Intelligence</h3>
            <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
          </div>
        </div>
      </div>

      <div class="w3-quarter container">
        <div class="row">
          <div class="col-4">
            <img [src]="webFEURL" height="194" width="300" class="image"/>
            <div class="middle">
              <div class="text"><a href="auth/login">Login to view</a></div>
            </div>
          </div>
          <div class="col-8">
            <h3>WEB Fundamentals</h3>
            <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
          </div>
        </div>
      </div>

      <div class="w3-quarter container">
        <div class="row">
          <div class="col-4">
            <img [src]="scrumURL" height="194" width="300" class="image"/>
            <div class="middle">
              <div class="text"><a href="auth/login">Login to view</a></div>
            </div>
          </div>
          <div class="col-8">
            <h3>Scrum Essence</h3>
            <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
          </div>
        </div>
      </div>

      <div class="w3-quarter container">
        <div class="row">
          <div class="col-4">
            <img [src]="javaSpringURL" height="194" width="300" class="image"/>
            <div class="middle">
              <div class="text"><a href="auth/login">Login to view</a></div>
            </div>
          </div>
          <div class="col-8">
            <h3>[BOOTCAMP-JAVA] JAVA SPRING</h3>
            <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
          </div>
        </div>
      </div>

    </div>

    <!-- Pagination -->
    <div class="w3-center w3-padding-32">
      <div class="w3-bar">
        <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
        <a href="#" class="w3-bar-item w3-black w3-button">1</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
      </div>
    </div>

    <hr id="about">
    <app-footer></app-footer>
  </div>
</ng-template>
