<button type="button" class="btn btn-info" (click)="getCreateObjectiveForm()" *ngIf="authority === 'pm' ">Create new Objective</button><br><br>

<div class="container-fluid">
  <div class="row col-md-12 col-md-offset-2 text-center">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>List Objective</th>
        <th>Type Syllabus</th>
        <th>Operator</th>
      </tr>
      </thead>
      <tr *ngFor="let objective of objectives ">
        <td><a (click)="getSKills(objective.id)">{{objective.name}}</a></td>
<!--        <td>{{objective.syllabus_id}}</td>-->
        <td class="text-center">
          <a class="btn btn-light" (click)="goToEdit(objective)">Edit<em class="fa fa-pencil"></em></a>
          <button class="btn btn-danger" (click)="submitDeleteObjective(objective.id)">Delete<em
            class="fa fa-trash"></em></button>
        </td>
      </tr>
    </table>
  </div>
</div>
